@import './variables.scss';

body {
  animation: bgFadeOut ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;

  @keyframes bgFadeOut {
    from {
      background-color: $dark;
    }
    to {
      background-color: $light;
    }
  }
}