@import './variables.scss';

body {
  animation: bgFadeOut ease both;
  animation-timeline: scroll();
  animation-range: 0 40dvh;

  @keyframes bgFadeOut {
    from {
      background-color: $dark;
    }
    to {
      background-color: $light;
    }
  }
}

h2 {
  padding-top: 3em;
  padding-bottom: 0.5em;
}
h3 {
  padding-top: 2em;
  padding-bottom: 0.5em;
  font-size: 1.2rem;
}
